*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

body{
    background-color: rgb(187, 187, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.click_main{
    background-color: white;
    width: 25%;
    height: 200px;
    padding: 25px 0;
}

.click_main {
   text-align: center;
}

.click_main h2{
    font-size: 25px;
    color: blue;
}

.click_main p{
   font-size: 14px;
   color: red;
   margin: 15px 0;
}

.click_main .btn{
    display: block;
    padding: 5px 120px;
    background-color: purple;
    color: black;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    font-size: 10px;
}
